html, body {
	margin: 0;
	padding: 0;
}

.dialog_modal {
	background-color: #00f;
	opacity: 0.25;
}
.dialog_title {
	background-color: #555;
}
.dialog_inner {
	background-color: #888;
}
.dialog_buttons {
	background-color: #aaa;
}
